.container {
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(5, 20%) ;
    grid-template-rows: repeat(5, 20%) ;
    grid-gap: 10px;
}
.site-header {
    width: 143px;
    background-color: grey;
    grid-column: 1;
    grid-row: 1;
    height: 700px;
    
}
.site-footer {
    width: 1070px;
    height: 100px;
    background-color: grey;
    grid-column: 1;
    grid-row: 5;
    margin-top: 40px;

}
.widget-area {
    width: 160px;
    background-color: grey;
    grid-column: 5;
    grid-row: 1;
    height: 700px;
    margin-left: 14px;
}
.post {
    width: 150px;
    height: 100px;
    background-color: orangered;
    grid-column: 4;
    grid-row: 2;
    
}

